button{
    background-color: darkred;
    padding: 0.6em;
    color: white;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 3em;
    margin: 3em;
}
button:hover{
    background-color: red;
}
form{
    display: flex;
    justify-content: center;
}