button{
    background-color: turquoise;
    width: 15%;
    padding: 0.6em;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1.5em;
    margin: 0.5em;
}
input{
    border-radius: 0.5em;
    font-size: 1.5em;
    padding: 0.6em;
}